{% extends "base.html" %}
{% block title_suffix %} - Inventory{% endblock %}

{% block content %}
<h1>Inventory</h1>
<p><small>Editing: <code>{{ path }}</code></small></p>

<form hx-put="/inventory" hx-target="#save-result" hx-swap="innerHTML">
    <textarea name="content" class="code-editor">{{ content }}</textarea>
    <div class="grid">
        <div>
            <span id="save-result"></span>
        </div>
        <div style="text-align: right;">
            <button type="submit">Save</button>
        </div>
    </div>
</form>
{% endblock %}
